html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

.flight-input {
    margin-bottom: 2.5rem;
}

.display-none {
    display: none;
}

#originText {
    clear: right;
}

.map-height {
    height: 50vh;
}

.flight-info-row {
    padding: .5rem;
    border-bottom: 1px solid #ddd;
    height: 75px;
    text-align: center;
}

#currentAirport {
    padding-left: 0;
    padding-right: 0;
}

#flight-info-panels {
    margin-top: 10rem;
}

.airline-image {
    margin-bottom: 7px;
}

.ticket-price {
    font-weight: bold;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #dedede;
  text-align: center;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.banana-plane {
    margin: 0 auto;
    content: url('../img/bananaplane.png');
    width: 8%;
    height: 8%;
    position: relative;
    top: 15rem;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: 50% 0%;
}

.banana-plane-rotate {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.banana-plane-fly-away {
    -webkit-animation-name: fly-away;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;;
    -moz-animation-name: fly-away;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;;
    animation-name: fly-away;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes fly-away {
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@-moz-keyframes fly-away {
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes fly-away {
    100% {
        transform: translateX(-1000%);
    }
}
